.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $gray;
    border-radius: 20px;
    padding: .5rem 1rem;
    height: 100%;
    text-align: center;
    transition: box-shadow $transition ease-in;

    &:hover {
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }

    &__preview {
        display: inline-block;
        border: 10px solid $gray;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }

    &__title {
        font-size: .9rem;
        margin: 1rem 0;
    }

    &__text {
        font-size: .8rem;
        margin: 0 0 1.5rem 0;
    }

    &__link {
        @extend %link;
        display: inline-block;
        padding: .25rem .75rem;
        color: #fff;
        border-radius: 20px;
        background-color: $blueviolet;
        margin-top: auto;
        text-transform: capitalize;
        transition: opacity $transition ease-in;

        &:hover {
            opacity: .5;
        }
    }
}